<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
    <title>GigLink</title>
</head>

<body>
    <nav class="navbar bg-dark">
        <div class="container d-flex justify-content-between align-items-center">
            <a href="/" class="navbar-brand h1 fs-2 text-light">GigLink</a>
            <form action="/search" method="get" class="d-flex">
                <input type="search" name="search" id="" placeholder="Search" class="form-control me-1">
                <button class="btn btn-success d-flex justify-content-center align-items-center" type="submit"><svg
                        xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg></button>
            </form>
            <div class="d-flex gap-2">

                <a href="/users/my_profile" class="btn btn-warning">My Profile</a>
                <a href="/logout_user" class="btn btn-danger">Logout</a>
            </div>
        </div>
    </nav>
    <div class="container my-3">

        <h1 class="text-center mb-3">{{musician.stage_name}}</h1>

        {% with messages = get_flashed_messages() %}
        {% if messages %}


        {% for message in messages%}
        <p class="text-success text-center">{{message}}</p>
        {% endfor %}

        {% endif %}
        {% endwith%}
        <div class="row d-flex justify-content-around">
            <div class="col-4 overflow-hidden d-flex justify-content-center align-items-center">

                {% if musician.image_url is none or musician.image_url == "" %}

                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-person-circle default-image"
                    viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                    <path fill-rule="evenodd"
                        d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z" />
                </svg>
                {% else %}


                <img src="{{musician.image_url}}" alt="{{musician.stage_name}} image" class="profile-image">
                {% endif %}

            </div>
            <div class="col-6">
                <h2>About me</h2>
                {% if musician.about %}
                <p>{{musician.about}}</p>
                {% endif %}

                <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal"
                    data-bs-target="#gig-modal">
                    Book me!
                </button>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-5">
            <div class="col-5 text-center">
                <h3>Listen to my music</h3>

                <iframe style="border-radius:12px"
                    src="https://open.spotify.com/embed/artist/{{artist_id}}?utm_source=generator" width="100%"
                    height="152" frameborder="0" allowfullscreen=""
                    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                    loading="lazy"></iframe>
            </div>
        </div>




        <!-- Modal -->
        <div class="modal fade" id="gig-modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Book a gig</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="/new_gig" id="new-gig" method="post">
                            <input type="hidden" name="musician_id" value="{{musician.id}}">
                            <input type="hidden" name="user_id" value="{{session['user_id']}}">
                            <label for="location" class="form-label">Location:</label>
                            <input type="text" name="location" id="location" class="form-control">
                            <label for="gig-at" class="form-label">Date of gig:</label>
                            <input type="datetime-local" name="gig_at" id="gig-at" class="form-control">

                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input type="submit" form="new-gig" value="Book gig" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>